/*declaracion de los colores*/
:root {
  --resaltado: #2196f3;
  --texto: #212121;
  --simple: #757575;
  --icon: #afb1b8;
  --back: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*estilos generales*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--simple);
}

.header-logo,
.logo-footer,
.nav-list-item,
.list-contact-item,
.list-item-footer,
.redes-tarjetas {
  text-decoration: none;
}

.navigation-list,
.list-contact,
.main-list-descripcion,
.main-list-services,
.main-list-team,
.list-footer,
.list-portafolio-products,
.list-product,
.list-customers,
.redes-tarjetas {
  list-style: none;
}

ul {
  padding: 0%;
}

/* Color de fondo*/
.list-portafolio-products,
.Container-list-product ul,
.Container-list-product ul li,
.main-list-team li,
.main-list-team .target,
.redes-sociales {
  background-color: var(--back);
}

/*contenedores dimenciones*/
header {
  width: 1600;
  height: 80px;
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: auto;
}

.navigation-list {
  display: flex;
  gap: 50px;
  font-weight: bold;
}

.container-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  gap: 90px;
}

.list-contact {
  display: flex;
  gap: 50px;
}

.list-contact-item {
  margin-right: 20px;
}

.main-list-descripcion {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.portafolio-header {
  border-bottom: 1px solid #ccc;
}

.main-list-services {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.main-list-team {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.main-list-team .target {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
}

/*estilos de la barra de navegacion*/

.header-logo,
.logo-footer {
  color: var(--resaltado);
  text-align: right;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-list-item {
  color: var(--texto);
  font-style: normal;

  line-height: normal;
  letter-spacing: 0.28px;
}

.list-contact-item {
  color: var(--simple);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

/*estilos del banner*/
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imagen.png);
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
}

.title-banner {
  color: var(--back);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;

  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
}

.team-section {
  background: #f5f4fa;
}

.btn-banner {
  background-color: var(--resaltado);
  color: var(--back);
  width: 261px;
  height: 50px;
  flex-shrink: 0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.btn-banner:hover {
  transform: scale(1.05);
}

/*estilos del main*/
.title-main-descripcion {
  color: var(--texto);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-size: 14px;
}

.item-description {
  line-height: 24px;

  letter-spacing: 0.42px;
  width: 270px;
}

/*estilos de la seccion servicios*/

.title-main-services {
  color: var(--texto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

/*estilos de la seccion team*/
.title-main-team {
  color: var(--texto);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.title-item-team {
  color: var(--texto);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.professions {
  color: var(--simple);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

/*estilos del footer*/
footer {
  background: #2f303a;
}

.list-item-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;

  letter-spacing: 0.42px;
}

/*portafolio*/
.list-portafolio-products {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 106px;
  list-style: none;
}

.container-list-product {
  justify-content: center;
  display: flex;
}

.container-list-product ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.list-product ul li span {
  padding-left: 10px;
}

.container-list-product ul li {
  position: relative;
  width: 370px;
  display: inline-block;
  text-align: justify;
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
  border-bottom: var(--resaltado);
  border: 1px solid #eee;
}

.container-list-product ul li:hover {
  transform: translateY(-5px);

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.container-list-product ul li::before {
  position: absolute;
  width: 100%;
  height: 10px;

  background-color: rgba(0, 0, 0, 0.1);

  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms var(--cubic);
}

.list-product ul li:hover::before {
  opacity: 16;
}

.title-item-producto {
  color: var(--texto);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;

  letter-spacing: 1.08px;
}

.item-categoria {
  font-size: 16px;
  font-style: normal;
  line-height: 30px;

  letter-spacing: 0.48px;
}

/*animaciones*/

.btn-banner:hover,
.btn-banner:focus {
  background: var(--resaltado);
  color: var(--back);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav-list-item:hover,
.nav-list-item:focus,
.list-contact-item:hover,
.list-contact-item:focus {
  color: var(--resaltado);
}

.list-item-footer:hover,
.list-item-footer:focus {
  color: var(--back);
}
.item-tex {
  padding-left: 20px;
  padding-right: 20px;
}

.container-footer {
  width: 1200px;
  height: 252px;
  margin: auto;
  padding-left: 20px;
  display: flex;
  gap: 140px;
  align-items: center;
}

.active {
  color: var(--resaltado);
  width: 48px;
  height: 4px;
  flex-shrink: 0;
}

.active-button {
  background-color: var(--resaltado);
  color: var(--back);
}

.nav-list-item.active::after {
  content: "";
  position: relative;
  left: 0;
  bottom: -1px;
  display: block;
  width: auto;
  height: 4px;
  background-color: var(--resaltado);
  border-radius: 2px;
  cursor: auto;
}

.item-img {
  border-radius: 4px;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--cubic);
}

.service-card {
  position: relative;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--back);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overlay-text {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.redes-tarjetas {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.title-customers {
  color: var(--texto);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.list-customers {
  display: flex;
  justify-content: space-evenly;
}

.redes-footer {
  margin-bottom: 70px;
}

.redes-footer h3 {
  color: var(--back);
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.redes-footer h3:hover {
  color: var(--resaltado);
}

.item-footer {
  display: flex;
  gap: 50px;
}

.item-footer img {
  margin: auto;
}

.item-footer .circle {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;

  align-items: center;

  align-content: center;
}

.circle:hover {
  background-color: var(--resaltado);
}

/* Estilos para las imágenes del equipo */
.main-list-team li {
  list-style: none;
  text-align: center;
}

.redes-sociales {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  list-style: none;
  color: var(--icon);
}

.redes-sociales:hover {
  background-color: var(--resaltado);
  color: var(--back);
}

.img-button-portafolio:hover path,
.img-button-portafolio:focus {
  fill: var(--back);
}

.img-button-portafolio:hover rect {
  fill: var(--resaltado);
}
.rectangulo {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon);
}

svg {
  fill: currentColor;
}
.rectangulo:hover,
.rectangulo:focus {
  border-color: var(--resaltado);
}
.rectangulo:hover use {
  fill: var(--resaltado);
}
.item-img:hover,
.item-img:focus {
  border-color: var(--resaltado);
}
.item-img:hover use,
.item-img:focus use {
  fill: var(--resaltado);
}

.redes-tarjetas {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.img-contact {
  fill: var(--icon);
}
.img-contact:hover {
  fill: var(--back);
}
.item-tarjeta {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-tarjeta {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item-tarjeta {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.superposicion {
  position: relative;
  overflow: hidden;
}

.superposicion img {
  width: 100%;
  height: auto;
  transition: transform 250ms var(--cubic);
}

.superposicion-contenido {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms var(--cubic), bottom 250ms var(--cubic);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-tarjeta:hover .superposicion img {
  transform: translateY(-30px);
}

.item-tarjeta:hover .superposicion-contenido {
  padding: 20px;
  bottom: 0;
  opacity: 1;
  color: var(--back);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px;
  background-color: var(--resaltados);
  color: var(--back);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--back);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 80%;
  max-width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
}

.data-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--back);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
#comentarios {
  padding: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.input-container {
  position: relative;
  display: inline-block;
}

.icon-input {
  padding-left: 30px;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.icono {
  width: 20px;
  height: 20px;
  fill: #000;
}