.section {
  .customers__title {
    color: $texto;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
  }
}

.customers__list {
  display: flex;
  justify-content: space-evenly;
}

.list-customers__item {
  .list-customers__rectangulo {
    & {
      border-radius: 4px;
      border: 1px solid $icon;
      width: 170px;
      height: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $icon;
      transition: color 250ms $cubic, background-color 250ms $cubic;

      &:hover,
      &:focus {
        border-color: $resaltado;

        use {
          fill: $resaltado;
        }
      }
    }
  }
}

