.container-list-product {
  justify-content: center;
  display: flex;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    li {
      position: relative;
      width: 370px;
      display: inline-block;
      text-align: justify;
      transition: transform $cubic, box-shadow $cubic;
      border-bottom: $resaltado;
      border: 1px solid #eee;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }

      &::before {
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity $cubic;
      }

      span {
        padding-left: 10px;
      }

      &:hover::before {
        opacity: 0.16;
      }

      .list-product__item-title {
        color: $texto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08px;
      }

      .list-product__item-category {
        font-size: 16px;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0.48px;
      }

      .list-product__item-text {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
.list-product__item-overlay {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transition: transform $cubic;
  }
}

.list-product__item-overlay {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transition: transform $cubic;
  }

  &:hover {
    img {
      transform: translateY(-30px);
    }

    .list-product__item-overlay-content {
      padding: 20px;
      bottom: 0;
      opacity: 1;
      color: $back;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.54px;
    }
  }
}

.list-product__item-overlay-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: $resaltado;
  opacity: 0;
  transition: opacity  $cubic, bottom $cubic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
