.portafolio {
    padding-top: 106px;
    padding-bottom: 82px;
}

.filtro_items {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filtro_items__btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    background-color: #f5f4fa;
    color: $color-body;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 18px 6px 17px;
    transition: box-shadow 250ms $cubic;

    &:focus {
        background-color: $color-resaltado;
        color: $color-blanco;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        outline: none;
    }

    &:hover {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

.listado_items {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 27px;
}

.listado_item {
    flex-basis: calc((100% - 60px) / 3);
    background: $color-blanco;
    border: 1px solid #eee;

    &:hover {
        cursor: pointer;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        
        .listado_item__img {
            .listado_item__desc {
                top: 0;
            }
        }
    }
}

.listado_item__img {
    position: relative;
    overflow: hidden;
}

.listado_item__desc {
    top: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px 63px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.55;
    color: $color-blanco;
    background-color: rgba(33, 150, 243, 0.9);
    transition: top 250ms $cubic;
}

.listado_item__div {
    padding: 20px 24px;
}

.listado_item__titulo {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.listado_item__txt {
    font-size: 16px;
    line-height: 1.87;
    color: $color-txt;
    margin: 0;
}